body{
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    text-align: left;
}
table{
    width:100vh;
    border-collapse: collapse;
    text-align: left;
    flex-direction: column;
}
tr{
    border: 1px solid #DDDDDD;
    width: 50px;
}
.trum{
    border-top:2px solid #DDDDDD;
}
.trdois{
    border-top:2px solid #CCCCCC;
}
th{
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}
.liber{
    color: #003366;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: left;
}
.preliber{
    color:#1398BE;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
}
.sulamer{
    color: #DE9800;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
}
.rebaixados{
    color: #C91B04;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
}
.times{
    text-align: 14px;
    color: #666666;
    text-align: justify;
    width: 50vh;
}
.alinhamentotr{
    font-size: 13px;
    color: #999999;
    font-weight: bold;
    text-align: left;
    padding: 5px 10px;
}
.alimentotd{
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    text-align: left;
    padding: 5px 10px;
}
.v{
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    text-align: left;
    padding: 5px 10px;
    background-color: #f7f7f7;
}
.p{
    font-size: 13px;
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 5px 10px;
    background-color: #f7f7f7;
}
.meiotab{
    color: #999999;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
}
.rodape1{
    font-size: 10px;
    color: #8F8F8F;
    flex-direction: column;
}
.rodape2{
    font-size: 10px;
    color: #555555;
    text-align: left;
    font-display: column;
}
.imgrodape{
    width: 12px;
    margin: 2px;
}
.tres{
    display: flexbox;
    flex-direction: row;
}