*{
    text-decoration: none;
    margin: 0;
}

footer{
    background-color: #045c9c;
    min-height: 200px;
    color: #fff;
}

main{
margin-right: 5px;
margin-left: 5px;
background-color: rgba(127, 165, 189,0.3);
}

header{
    background-color: rgba(228, 100, 36,0.5);
    border-bottom: 2px solid gray;
}

.linhaBorda{
    margin: 5px;
    padding: 5px;
    border: 1px solid lightgray;
}

label{
    color: darkblue;
    font-weight: 600;
}
 
.corH1{
    color: blue;
}
.centro{
    text-align: center;
    color: black;
}

.imgLogo:hover{
    justify-content: center;
    width: 150px;
}

.separacao{
    padding-bottom: 5px;
}

.botaoPesquisa{
    border: 1px solid#e46424;
    border-radius: 0px 7px 0px 7px;
    background-color: #e46424
    color #fff;
    font-weight: 400;
    padding: 5px;
}

.botaoPesquisa:hover{
    background-color: transparent;
    color: #e46424;
}

.classDiv{
    margin: 3px 5px;
    color: #045c9c;
}

input[type="radio"]{
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #e46424;
    border-radius: 10px;
    width: 14px;
    height: 14px;
    margin: 0px 2 px;

}

input[type="radio"]:checked{
    background-color: #e46424;
    border-color: white;
}

input, select{
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid darkgray;
    color: darkblue;
    font-size: 16px;
    padding: 1px;
}
input:disabled{
    background-color: lightgray;
}
input[type="text"]: fo